<!---
Displays all the users <fname lname email> (and link) with the searched fname or lname
--->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Album</title>
<link rel="stylesheet" href="../static/home.css">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      	<li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
        <li class="navbar-left"><a class="navbar-brand" href="/global">Popular</a></li>
        {% if uid==-1 %}
            <li class="navbar-right"><a class="navbar-default" href="/register">Register</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
          {% else %}
            <li class="navbar-right"><a class="navbar-default" href="/Logout">Logout</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/profile/{{ uid }}">Hello {{ uname }}</a></li>
          {% endif %}
      </ul> 
	</div>
  </div>
</nav>

<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md12">
          <h1>Hello {{uname}}</h1>
            <h2>You searched <span style="color:darkred">{{ key }}</span> in <span style="color:darkblue">{{ type }}</span></h2>
          <h3>Here is your search result</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
        <div class="row">
	      <div class="field-wrap">
              <ul>
                  <li>{% for user in users %}
                      <a href="/profile/{{ user[0] }}">
                          <h3>{{user[1]}} {{ user[2] }}</h3>
                      </a>
                  {% endfor %}</li>
              </ul>
          </div>
        </div>
  </div>

</section>

</body>

</html>