<!---
Album displays all the containing photos and the owner
--->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Album</title>
<link rel="stylesheet" href="../static/home.css">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
          <li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
          {% if uid==-1 %}
            <li class="navbar-right"><a class="navbar-default" href="/register">Register</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
          {% else %}
            <li class="navbar-right"><a class="navbar-default" href="/Logout">Logout</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/profile/{{ uid }}">Hello {{ cname }}</a></li>
          {% endif %}
      </ul> 
	</div>
  </div>
</nav>

<section>
    <div class="jumbotron text-center">
        <div class="container">
            <div class="field-wrap">
    	        <h3>{{uname}}'s Album:</h3>
		        <h2>{{aname}}</h2>
            </div>
            <div class="col-xs-12 text-center">
            {% if auth %}
                <a href="/upload/{{name}}">Upload your photo</a>
                {% if message %}<h3>{{ message }}</h3>{% endif %}
            {% endif %}
            </div>
        </div>
    </div>

    <div>
        <table>
            {% for photobatch in photos|batch(4) %}
            <tr>
                {% for photo in photobatch %}
                <td style="padding-left: 10%;">
                    <a href="/photo/{{photo[0]}}">
                        <h3>{{photo[1]}}</h3>
                        <img src="../static/upload/{{photo[2]}}" alt="" style="width:180px; height:150px"><br/>
                    </a>
				    <a href="/deletep/{{photo[0]}}">Delete photo</a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

<!---
    <script>

    var cellsInRow = 4;
    var count = {{ pnum }};

    function drawTable() {
        var divTable = document.getElementById('photoTable');
        var tbl = document.createElement("table");
        {% for photo in photos %}
        for (var r = 0; r <  count/cellsInRow + 2 ; r++) {
            var row = document.createElement("tr");
            for (var c = 0; c < cellsInRow; c++) {
                var cell = document.createElement("td");
                cell.setAttribute("style", "padding-left: 50px");

    		    var p = document.createElement("IMG");
                p.setAttribute("src", "../static/upload/{{photo[2]}}");
                p.setAttribute("width", "200");
                p.setAttribute("height", "200");
                p.setAttribute("alt", '');
                var caption = document.createElement("H3");
                caption.appendChild(document.createTextNode({{photo[1]}}));

                  cell.appendChild(caption);
                cell.appendChild(p);
                row.appendChild(cell);
            }
            tbl.appendChild(row); // add the row to the end of the table body
        }
        divTable.appendChild(tbl); // appends <table> into <div>
        {% endfor %}
    }
    window.onload=drawTable();

    </script>
--->

</section>
</body>

</html>