<!DOCTYPE html>
<html>
<head>
	<title>Albums</title>

</head>

<body>
	{% if name %}
		<h3>Hello!&nbsp;{{name}}</h3>
	{% endif %}


	{% if homename %}
		<h1>{{homename}}'s&nbsp;Home</h1>
	{% endif %}

	{% if message %}
		<h3>{{message}}</h3>
	{% endif %}





	{% if albums %}
		<h2>Browse an album</h2>
		<ul>
			{% for album in albums %}

				<h3><a href="{{url_for('albums')}}?aid={{album[0]}}">{{album[1]}}</a></h3>
				<a href="{{url_for('delete')}}?photouid={{album[3]}}&aid={{album[0]}}">Delete album {{album[1]}}</a>
				<br>
			{% endfor %}
		</ul>


	

	
		
		

		
	{% endif %}



{% if not guest %}
	<a href="{{ url_for('profile') }}">Back to Profile</a>	
{% else %}
	<a href="{{ url_for('login') }}?email=guest&password=guest">Homepage</a>
{% endif %}

</body>

</html>