<!---
Global displays Users ordered DESC by their contribution
--->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Global</title>
<link rel="stylesheet" href="../static/home.css">
</head>

<body>
<!--- nav bar --->
<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
          <li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
          {% if uid==-1 %}
            <li class="navbar-right"><a class="navbar-default" href="/register">Register</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
          {% else %}
            <li class="navbar-right"><a class="navbar-default" href="/Logout">Logout</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/profile/{{ uid }}">Hello {{ uname }}</a></li>
          {% endif %}
      </ul> 
	</div>
  </div>
</nav>
<!--- greetings, NO search bar --->
<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h3>{% if uname %} Hello <span style="color: #843534">{{ uname }}</span> {% endif %}</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!--- active Useres --->
<section>
  <div class="container">
      <div class="field-wrap" style="text-align: right">
        <h3>Active Users</h3>
            <ul>
            {% for user in actusers %}
                <li>
                <a href="{{url_for('findu',uid=user[0])}}">{{user[1]}}</a>
                <p>Contribution: {{ score }}</p>
                </li>
		    {% endfor %}
            </ul>
      </div>
  </div>
</section>

</body>
</html>