<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>home</title>
<link rel="stylesheet" href="../static/home.css">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      	<li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
        <li class="navbar-right active"><a class="navbar-default" href="/register">Register</a></li>
        <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
      </ul> 
	</div>
  </div>
</nav>

<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md12">
        <!--
            {% if current_user.is_authenticated %}
                <h1 style="color:firebrick">Hello {{ current_user.id }}</h1>
            {% else %} --
                <h1>Hello there</h1>
            {% endif %}
        --->
            <h1>Hello there</h1>
            <h2 style="margin-top:-5pt">Bonjour</h2>
            <h3 style="margin-top:-5pt">你好</h3>
            <h4 style="margin-top:-6pt">Hola</h4>
            <h5 style="margin-top:-6pt">Hallo</h5>
            <h6 style="margin-top:-7pt">Ciao</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
        <h4 style="color: #843534">{% if message %} {{ message }} {% endif %}</h4>
        <h3 style="color: #843534">{% if name %} {{ name }} {% endif %}</h3>
        </div>
      </div>

      <div class="row">
      	<div class="col-lg-12 text-center">
        	<form role="search">
            	<div style="margin-bottom:10px">
        		<input type="text" class="form-control " placeholder="Search">
                </div>
        		<button type="search" class="btn btn-primary btn-sm">Search</button>       
     		</form>	
      	</div>      	
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p></p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>