<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>login</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='home.css') }}">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styleSheet.scss') }}"/>
</head>
<body>
<!---LOGIN---
  <div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
--->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      	<li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
        <li class="navbar-left"><a class="navbar-brand" href="/global">Popular</a></li>
        <li class="navbar-right"><a class="navbar-default" href="/register">Register</a></li>
        <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
      </ul>
	</div>
  </div>
</nav>

<!---LOGIN--->
<section>
<div class="regform">

      <div id="login">
          {% if not supress %}
          <h1 style="text-align:center;">Email or password incorrect! Please check or <a href="/register">register</a></h2>
          {% endif %}
          {% if supress %}
          <h1 style="text-align:center;">Please Log in</h1>
          {% endif %}
          <form class="regform" method="post" action="/Login" >

          <div class="field-wrap">
            <label class="regform" for="email">Email Address<span class="req">*</span></label>
            <input type="email" required id="email" name="email" placeholder="Email Address"/>
          </div>

          <div class="field-wrap">
            <label class="regform" for="password">Password<span class="req">*</span></label>
            <input type="password" required id="password" name="password" placeholder="Password"/>
		  </div>
          
          <div class="field-wrap" style="text-align:center">
          	<button type="submit" class="btn btn-primary btn-lg">Login</button>
          </div>
          
          </form>

      </div>
        
</div><!-- tab-content -->
</section>    
</body>
</html>
