<!---
MyProfile: requires login, displays user profile info, all user's albums, friends
and recommendations(photo, user)
--->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MyProfile</title>
<link rel="stylesheet" href="../static/home.css">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
          <li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
          {% if uid==-1 %}
            <li class="navbar-right"><a class="navbar-default" href="/register">Register</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
          {% else %}
            <li class="navbar-right"><a class="navbar-default" href="/Logout">Logout</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/profile/{{ uid }}">Hello {{ uname }}</a></li>
          {% endif %}
      </ul> 
	</div>
  </div>
</nav>

<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md12">
            <h4>{% if message %} {{ message }} {% endif %}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
            <h3>{% if uname %} Hello <span style="color: #843534">{{ uname }}</span> {% endif %}</h3>
        </div>
      </div>

      <div class="row">
      	<div class="col-lg-12 text-center">
        	<form class="search" method="POST" action="/search">
            	<div style="margin-bottom:10px">
        		    <input type="text" name="key" class="form-control" placeholder="Search..">
                </div>
                <div class="field-wrap" style="margin-bottom: 0px">
                    <label class="search-type" for="byTag">by Tag</label>
			            <input type="radio" class="search-type" name="Type" value="T"/>
                    <label class="search-type" for="byUser">by Comment</label>
  			            <input type="radio" class="search-type" name="Type" value="C"/>
                    <label class="search-type" for="searchUser">Search User by Name</label>
  			            <input type="radio" class="search-type" name="Type" value="U" checked="checked"/>
                </div>
        		<button type="search" class="btn btn-primary btn-sm">Search</button>
                {% if uid==profid %}
                    <button type="search" class="btn btn-primary btn-sm">Search My Photos</button>
                {% endif %}
     		</form>
      	</div>
      </div>
    </div>
  </div>
</section>

<section>
<div class="container">
    <div class="col-xs-7 text-center">
        <!---Create album--------->
        {% if uname !='' and profid==uid %} <!---if auth--->
    	<div class="row">
            <form class="createAlbum" method="POST" action="/createalbum/{{ profid }}" >
                <input type="text" name="createalbum" required placeholder="name for new album">
                <button type="submit" name="createalbum" class="btn btn-primary btn-sm">Create a new album</button>
            </form>
      	</div>
        {% endif %}

        <!---myAlbums--------->
        {% if uname !='' %}
        <div class="row">
            {% if albums %}
		    <ul>
			{% for album in albums %}
				<h3><a href="/album/{{album[0]}}">{{album[1]}}</a></h3>
				{% if profid==uid %}
                    <a href="/deletea/{{album[0]}}">Delete album {{album[1]}}</a>
                {% endif %}
				<br>
			{% endfor %}
		    </ul>
	        {% endif %}
        </div>
    </div>

    <div class="col-xs-7 text-center">
        <!---friends list--->
        <div class="field-wrap">
        <h3>Friends List</h3>
            <ul>
                <li>{% for user in users %}
                    <a href="/profile/{{ user[0] }}">
                        <h3>{{user[1]}} {{ user[2] }}</h3>
                    </a>
                {% endfor %}</li>
            </ul>
        </div>

        <!---recommendations--->
        <div class="field-wrap">
		{% if profid==uid %}
            {% for user in users %}
                <a href="{{url_for('users')}}?uid={{user[0]}}">{{user[1]}}</a>
                {% if not friends %}
                    {% if useremail != user[1] %}
                        <a href="">Add to friends!</a>
                    {% endif %}
                {% endif %}
			<br>
		    {% endfor %}
	    {% endif %}

    </div>
  </div>
</section>
{% endif %}

<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p></p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>