<!---
MyProfile: requires login, displays user profile info, all user's albums, friends
and recommendations(photo, user)
--->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MyProfile</title>
<link rel="stylesheet" href="../static/home.css">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
          <li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
          {% if uid==-1 %}
            <li class="navbar-right"><a class="navbar-default" href="/register">Register</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
          {% else %}
            <li class="navbar-right"><a class="navbar-default" href="/Logout">Logout</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/profile/{{ uid }}">Hello {{ uname }}</a></li>
          {% endif %}
      </ul> 
	</div>
  </div>
</nav>

<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md12">
            <h3>{% if profname %} <span style="color:darkred">{{ profname }}</span>'s Mainpage{% endif %}</h3>
            {% if uid!=-1 and uid!=profid %}
                <form class="makefriends" method="GET" action="/friend/{{ profid }}">
                    {% if not friends %}
                        <button id="makefriends" type="submit">make friends</button>
                        <span style="font-weight: 900">{{ liken }}</span>
                    {% else %}
                        <button id="makefriends" type="submit">cancel friends</button>
                        <span style="font-weight: 400">{{ liken }}</span>
                    {% endif %}
                </form>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
            <h3>{% if uname %} Hello <span style="color: #843534">{{ uname }}</span> {% endif %}</h3>
        </div>
      </div>
      <!---search bar--->
      <div class="row">
      	<div class="col-lg-12 text-center">
        	<form class="search" method="POST" action="/search">
            	<div style="margin-bottom:10px">
        		    <input type="text" name="key" class="form-control" placeholder="Search..">
                </div>
                <div class="field-wrap" style="margin-bottom: 0px">
                    <label class="search-type" for="byTag">by Tag</label>
			            <input type="radio" class="search-type" name="Type" value="T"/>
                    <label class="search-type" for="byUser">by Comment</label>
  			            <input type="radio" class="search-type" name="Type" value="C"/>
                    <label class="search-type" for="searchUser">Search User by Name</label>
  			            <input type="radio" class="search-type" name="Type" value="U" checked="checked"/>
                </div>
        		<button type="search" class="btn btn-primary btn-sm">Search</button>
                {% if uid==profid %}
                    <button type="search" class="btn btn-primary btn-sm">Search My Photos</button>
                {% endif %}
     		</form>
      	</div>
      </div>
    </div>
  </div>
</section>

<section>
<div class="jumbotron" style="background-color: transparent; padding-top:0px; min-height: 320px">
    <div class="container">
    <div class="col-xs-7 text-center">
        <!---Album--------->
        <div class="field-wrap">
        <h4><span style="color:darkred;">{{ profname }}</span>'s Albums</h4>
        <!---Create album--------->
        {% if uname !='' and profid==uid %} <!---if auth--->
    	<div class="row text-center">
            <form class="createAlbum" method="POST" action="/createalbum/{{ profid }}" >
                <input type="text" name="createalbum" required placeholder="name for new album">
                <button type="submit" name="createalbum" class="btn btn-primary btn-sm">Create a new album</button>
            </form>
      	</div>
        {% endif %}
        </div>

        <!---myAlbums--------->
        <div class="row text-center" style="height: 200px;overflow-y: scroll">
            {% if albums %}
		    <ul>
			{% for album in albums %}
				<h3><a href="/album/{{album[0]}}">{{album[1]}}</a></h3>
				{% if profid==uid %}
                    <a href="/deletea/{{album[0]}}">Delete album {{album[1]}}</a>
                {% endif %}
				<br>
			{% endfor %}
		    </ul>
	        {% endif %}
        </div>
    </div>

    <div class="col-xs-5 text-left">
        <!---my friends list--->
        <div class="field-wrap">
            <h4><span style="color:darkred;">{{ profname }}</span>'s Friends</h4>
        </div>
        <div class="field-wrap" style="height: 200px;overflow-y: scroll">
            <ul>
                <li>{% for user in users %}
                    <a href="/profile/{{ user[0] }}">
                        <h3>{{user[1]}} {{ user[2] }}</h3>
                    </a>
                {% endfor %}</li>
            </ul>
        </div>
    </div>
    </div>
</div>
</section>

<!--- recommendations --->
{% if uid==profid %}
<section>
<div class="jumbotron text-center">
  <div class="container">
     <div class="col-xs-7 text-center">
        <div class="field-wrap">
           <h4>Photo You May Like</h4>
        </div>
        <div class="field-wrap" style="height: 200px;overflow-y: scroll">
           <table>
           {% for photobatch in recphotos|batch(3) %}
              <tr>
              {% for photo in photobatch %}
              <td style="padding-left: 50px">
                 <a href="/photo/{{photo[0]}}">
                    <h3>{{photo[1]}}</h3>
                    <img src="../static/upload/{{photo[2]}}" alt="" style="width:150px; height: 150px"><br/>
                 </a>
              </td>
              {% endfor %}
              </tr>
           {% endfor %}
           </table>
        </div>
     </div>

     <div class="col-xs-5 text-left">
        <div class="field-wrap">
            <h4>People You May Like</h4>
        </div>
        <div class="field-wrap" style="height: 200px;overflow-y: scroll">
            <ul>
            {% for user in recfriends %}
                <li>
                <a href="{{url_for('findu',uid=user[0])}}">{{user[1]}}</a>
                </li>
		    {% endfor %}
            </ul>
        </div>
     </div>
  </div>
</div>

<div id="foot"></div>
</section>
{% endif %}

<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p></p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>