<!---
Photo displays ONE photo with caption, tags, comment
as well as the containing album and the owner
--->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Photo</title>
<link rel="stylesheet" href="../static/home.css">
<link  href="../static/showPhoto.js">
</head>

<body>
<!--- nav bar --->
<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      	<li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
        {% if uname=='' %}
            <li class="navbar-right"><a class="navbar-default" href="/register">Register</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
          {% else %}
            <li class="navbar-right"><a class="navbar-default" href="/Logout">Logout</a></li>
            <li class="navbar-right"><a class="navbar-default" href="">Hello {{ uname }}</a></li>
          {% endif %}
      </ul> 
	</div>
  </div>
</nav>
<!--- greetings, NO search bar --->
<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md12">
            <h4>{% if message %} {{ message }} {% endif %}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
            <h3>{% if uname %} Hello <span style="color: #843534">{{ uname }}</span> {% endif %}</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!--- THE photo --->
<section>
  <div class="container">
    <div class="row">
    {% for photo in photos %}
    {% if photos[2] %} <!--how to target the photo?--->
        <img src="data:image/png;base64, {{photo[0]}}"/><br/>
        <h5>
            Caption: <span>{{photo[2]}}</span>
            Owner: <a href="{{url_for('profile')}}?uid={{photo[0][4]}}">User page</a>
            Album: <a href="{{url_for('albums')}}?aid={{photo[0][4]}}">Album page</a>
        </h5>
        {% if auth %}
        <a href="{{url_for('delete')}}?pid={{photo[1]}}&photouid={{photo[3]}}&aid={{photo[4]}}">Delete {{photo[2]}}</a>
		<br>
        {% endif %}
    {% endfor %}
    </div>

    <div class="likes">
        <form class="like-unlike" >

        </form>
    {% if likes %}
		{% for like in likes %}
			{{like[1]}}
		{% endfor %}
		&nbsp;{{count}}
	likes
	{% endif %}
	<a href="{{url_for('photo')}}?pid={{photo[0][1]}}&userid={{photo[0][3]}}">Like!</a>
    </div>

    <div class="tagBox">
	<h3>Tags</h3>
    {% if tags %}
		{% for tag in tags %}
			<br>
			{{tag[3]}}
			<br>
			<a href="{{url_for('photo')}}?word={{tag[3]}}&usertagid={{tag[1]}}&pid={{tag[2]}}">View my photos/</a>
			<a href="{{url_for('photo')}}?word={{tag[3]}}&pid={{tag[2]}}">View all photos</a>
		{% endfor %}
	{% endif %}
    <form class="Tags" method="post" action="/photo">
        <label for="crtTag">Create a New Tag</label>
        <input type="text" name="crtTag"/>
        <input type="submit" name="crtTag" value="Submit">
    </form>
    </div>

    <div class="commentBox">
    <h3>Comments</h3>
	<form class="Comments" method="post" action="/photo">
		<label for="addComment">Your Comment</label>
        <input type="text" name="addComment"/>
        <input type="submit" name="addComment" value="Submit">
        <input type="hidden" name="pid" value="{{photo[0][1]}}">
        <input type="hidden" name="photouid" value="{{photo[0][3]}}">
	</form>

	{% if comments %}
		{% for comment in comments %}
			{% if not guest %}
				<a href="{{url_for('users')}}?uid={{comment[0]}}">{{comment[1]}}</a>
				:&nbsp;{{comment[2]}}
			{% else %}
				guest:&nbsp;{{comment[2]}}
			{% endif %}
			
		{% endfor %}
	{% endif %}
{% endif %}

</section>

</body>
</html>