<!---
Displays all the containing photos and the owner
--->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Album</title>
<link rel="stylesheet" href="../static/home.css">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      	<li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
        {% if uid!=-1 %}
            <li class="navbar-right"><a class="navbar-default" href="{{ url_for('findu',uid=uid) }}">My Profile</a></li>
            <li class="navbar-right"><a class="navbar-default" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li class="navbar-right active"><a class="navbar-default" href="/register">Register</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
        {% endif %}        
      </ul> 
	</div>
  </div>
</nav>

<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md12">
        {% if uname != '' %} <!---fei hua--->
          <h1>Hello {{uname}}</h1>
        {% endif %}
        <h2>Here is your search result</h2>
        </div>
      </div>
      <div class="row">
          {% if photos %}
	      <div class="field-wrap">
            <img src="../static/upload/{{photo[2]}}" alt=""/><br/>
            <h5>
                Caption: <span>{{photo[1]}}</span>
                Owner: <a href="{{url_for('findu',uid=uid)}}">{{ uname }}</a>
                Album: <a href="{{url_for('album',aid=photo[3])}}">{{ aname }}</a>
            </h5>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>

</html>