<!---
Displays all the containing photos and the owner
--->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Album</title>
<link rel="stylesheet" href="../static/home.css">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      	<li class="navbar-left"><a class="navbar-brand" href="/">Home</a></li>
        {% if uid==-1 %}
            <li class="navbar-right"><a class="navbar-default" href="/register">Register</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/Login">Login</a></li>
          {% else %}
            <li class="navbar-right"><a class="navbar-default" href="/Logout">Logout</a></li>
            <li class="navbar-right"><a class="navbar-default" href="/profile/{{ uid }}">Hello {{ uname }}</a></li>
          {% endif %}
      </ul> 
	</div>
  </div>
</nav>

<section>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md12">
        {% if uname != '' %} <!---fei hua--->
          <h1>Hello {{uname}}</h1>
        {% endif %}
        {% if type=='C' %}
            <h2>Here is your search result for comments include {{ key }}</h2>
        {% elif type=='T' %}
            <h2>Here is your search result for tags include {{ key }}</h2>
        {% endif %}
        </div>
      </div>
      <div class="row">
	      <div class="field-wrap">
              <ul>
                  <li>{% for photo in photos %}
                      <a href="/photo/{{photo[0]}}">
                          <h3>{{photo[1]}}</h3>
                          <img src="../static/upload/{{photo[2]}}" alt=""><br/>
                      </a>
                  {% endfor %}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>

</html>